<mat-toolbar role="header" id="nav-bar" color="accent">
  <mat-toolbar-row>
    <a routerLink="/home" routerLinkActive="Active">Home</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>


