#home-content {
  margin-top: 5px;
}

#slider-card {

  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  
}

#slide-input {

  width: 20%;

  mat-form-field {
    width: 140px;
  }
}



#slider-row {
  display: flex;
  justify-content: space-between;
}

mat-slider {
  margin-top: 22px;
  width: 80%;
}

mat-card {
  margin-top: 5px;
  margin-bottom: 5px;
}