<div id="home-content">

  <mat-accordion>
    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Display Filters
        </mat-panel-title>
        <mat-panel-description>
          Grain Type and Location
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-select placeholder="Location" [(value)]="selectedLocation">
          <mat-option *ngFor="let location of locations" [value]="location">
            {{ location.display }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <mat-select placeholder="Grain Type" [(value)]="selectedGrainType">
          <mat-option *ngFor="let type of grainTypes" [value]="type">
            {{ type.display }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-card id="slider-card">

    <div id="slider-row">
      <mat-slider
        color="primary"
        [(ngModel)]="sliderVal"
        max="50"
        min="0"
        step="1"
        tick-interval="1"
        (input)="sliderChange($event)"
        thumbLabel="true"
        value="0">
      </mat-slider>

      <div id="slide-input">
        <mat-form-field>
          <input 
            matInput
            placeholder="Adjust Week Projection" 
            type="number"
            min="0"
            max="50"
            [(ngModel)]="sliderVal">
        </mat-form-field>
      </div>

    </div>
      
  </mat-card>

  <silo-site-grid *ngFor="let site of siloSites"></silo-site-grid>

</div>